@tailwind base;
@tailwind components;

*::selection {
  background: #e6dcfd;
  /* color: white; */
}

.font-roboto {
  font-family: "Roboto";
}

.hero-screenshot {
  @apply -mb-48;
  transform: scale(0.97);
  transition: all 0.4s ease-in-out;
}

@screen md {
  .hero-screenshot {
    @apply -mb-96;
  }
}

@screen lg {
  .hero-screenshot {
    @apply -mb-152;
  }
}

.hero-screenshot:hover {
  @apply -mb-32;
  transform: scale(1);
}

/**
 * CUSTOM ELEMENTS
 */

.hero-lead-text {
  @apply text-4xl font-bold leading-10 font-roboto opacity-75;
}

@screen md {
  .hero-lead-text {
    @apply text-6xl;
    line-height: 3.5rem;
  }
}

.download-button-text {
  @apply text-xl leading-6 mr-2;
}

@screen md {
  .download-button-text {
    @apply text-2xl;
  }
}

/**
 * Wave shape style
 * https://www.shapedivider.app/
 * */

.custom-shape-divider-bottom-1602011117 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1602011117 svg {
  position: relative;
  display: block;
  width: calc(128% + 1.3px);
  height: 80px;
}

.custom-shape-divider-bottom-1602011117 .shape-fill {
  fill: #ffffff;
}

.download-btn .download-btn-text,
.download-btn .os-icon {
  transition: all 0.2s ease-in-out;
}

.download-btn:hover .download-btn-text {
  @apply text-white bg-transparent;
}

.download-btn .os-icon {
  fill: #d03592;
}
.download-btn:hover .os-icon {
  fill: white !important;
}

body .show-on-mac,
body .show-on-win,
body .show-on-rest {
  display: none;
}

body.macOS .show-on-mac {
  display: flex;
}

body.windows .show-on-win {
  display: flex;
}

body.unknown .show-on-rest,
body.linux .show-on-rest,
body.unix .show-on-rest {
  display: flex;
}

.eye-icon {
  @apply text-6xl font-roboto flex-1;
  font-size: 7em;
}

.repository-btn {
  width: 250px;
}

@tailwind utilities;
